@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: green;
    height: 100vh;
}

.heading {
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
    text-align: center;
}

.container {
    background-color: #ffffff;
    height: 60vh;
    border-radius: 30px;
    margin: 50px;
}

.col {
    flex-basis: 32%;
    text-align: center;
}


input {
    width: 150px;
    height: 30px;
    background: lightgreen;
    border-radius: 5px;
    text-align: center;
    margin-top: 70px;

}
